@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;

}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  }
  .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-1px);
  }
  @keyframes rotate-on-load {
    from {
      transform: rotateY(0deg) scale(.65) ;
    }
    to {
      transform: rotateY(90deg) scale(.62);
    }
  }
  @keyframes rotate-on-load-reverse {
    from {
      transform: rotateY(90deg) scale(.62);
    }
    to {
      transform: rotateY(0deg) scale(.65) ;
    }
  }
  @keyframes swipe-right {
    from {
      transform: rotateY(0deg) scale(.65) ;
    }
    to {
      transform: rotateY(360deg) scale(.75);
    }
  }
  
  .animate-swipe-right {
    animation: swipe-right 3s ease-in-out;
  }
  
  .animate-rotate-on-load-180 {
   
    animation: rotate-on-load 1s linear;
  }
  .animate-rotate-on-load-180-reverse {
    
    animation: rotate-on-load-reverse 1s linear ;
  }